
.header__wrapper{
    margin: 10px auto;
    padding: 0 20px;
    display: flex;
    gap: 135px;
    align-items: center;

}
.header__logo{
    display: flex;
    gap: 10px;
    align-items: center;
}
.header__img{
    height: 48px;
    width: 48px;
}
.header__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
}
.header__list{
    display: flex;
    align-items: center;
    gap: 30px;
}
.header__title{
    font-size: 28px;
}
