*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.active{
  color: red;
}
.container{
  width: 100%;
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}
.products{
  font-size: 3rem;
  color: mediumpurple;
  text-align: center;
}